@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2f2;
    font-family: 'Montserrat', helvetica, arial, sans-serif;
    font-size: 12px;
}

.tabs {
    text-align: left;
    list-style: none;
    margin: 20px 12px 0px;
    width: 450px;
}

.tabs button {
    height: 30px;
    width: 30%;
    margin: 0 -2px;
    border: 1px solid #AAA;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #ECECEC;
    display: inline;
}

button.active {
    background-color:  rgb(209, 209, 209);
}

.tab-content {
    border: 1px solid #ccc;
    height: 100%;
    background-color: #f3f2f2;
}

.main-screen {
    background-color: white;
    border: 1px solid black;
    height: fit-content;
    width: 600px;
    margin: 0px 10px;
}

.search-bar {
    background-color: #f1f1f1;
    border-radius: 10px;
    max-width: 100%;
    margin: 30px;
}

.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 8px;
    min-width: 40px;
}
  
.input-field {
    width: 550px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
}

ul.movie-list {
    list-style-type: none;
    display: grid;
    height: 70%;
    margin-top: 20px;
}

.list-item {
    margin: 20px;
    position: relative;
    height: 20%;
}

h2, h1 {
    font-weight: 500;
}

.movie-img {
    position: relative;
    float: left;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5); 
}
.movie-poster {
    width: 300px;
    height: 300px;
}

.movie-page {
    display: none;
}

.movie-info {
    margin: 10px 0;
}


/*** Pagination ***/

.pagers {
    display: none;
    overflow: auto;
    margin: 20px;
    text-align: center;
}

.btn_prev, .btn_next {
    width: 120px;
    height: 25px;
}

.btn_prev {
    float: left
}
.btn_next {
    float: right;
}

.page_no {
    margin: 10px;
}

/* MODAL BOX */
/*************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    text-align: center;
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 500px; 
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    text-align: left;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 80%;
  }

/************
*** STAR ****
**************/
.favorites-star {
    display: none;
    color: #F4B30A;
    text-shadow: 0 0 1px #F48F0A;
    float: right;
    margin-left: 20px;
    font-size: 30px;
    margin-right: 20px;
}

.btn-style {
    float: right;
    height: 25px;
    margin-bottom: 200px;
    padding: 8px;
    font-size: 10px;
}